@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75,300;1,75,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

html{
    font-size: 62.5%;
}
body{
    display: flex;
    font-size: 2rem;
    flex-direction: column;
    font-family: "Roboto";
    padding: 1rem;
}
header{
    width: calc(100vw - 5rem);
    height: 96vh;
    background-image: url(imagens/topo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15rem;
    padding: .5rem;
    font-family: Viaoda Libre;
    color: white;
    text-align: left;
    background-color: #162028;
}

nav h1{
    font-size: 5rem;
    padding: 0;
    margin: 0;
    font-weight: 100;
}

nav ul{
    font-family: "Roboto";
    text-transform: uppercase;
    display: flex;
    font-size: 2.6rem;
    align-items: center;
    gap: 10rem;
    margin: 0 5rem;
    padding: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #425564;
}

a:hover{
    text-decoration: underline;
}

main article h1{
    font-family: "Viaoda Libre";
    text-align: center;
    font-weight: 100;
    font-size: 5rem;
    margin-top: 13rem;
}

.article--p{
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.7;
    width: 80vw;
    margin: 0 auto;
}

.section--photos{
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
    margin-top: 15rem;
    margin-bottom: 15rem;
}

.photo{
    width: 40rem;
    display: flex;
    flex-direction: column;
}

.photo h1{
    color: #555;
    margin: 0;
    padding: 2rem 0;
    font-size: 2.4rem;
    font-family: "Roboto";
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: bolder;
}
.photo--p{
    color: #555;
    margin: 0;
    padding: 0;
    font-weight: bolder;
    text-align: center;
}

.article--final{
    background-image: url(imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 10rem 0 20rem;
}

.article--final--h1{
    text-align: left;
    margin: 20rem auto 10rem;
    width: 80vw;
    font-size: 7rem;
}

.article--final--p{
    text-align: left;
    font-size: 2.5rem;
    line-height: 2;
    width: 80vw;
    margin: 0 auto;
}

footer{
    background-color: #0b171f;
    color: #6f8597;
    text-align: center;
    letter-spacing: 0.3rem;
    padding: 2.5vh;
}